.img-hover-zoom {
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  cursor: pointer;
}

.img-hover-zoom:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.why-choose {
  background-color: #f6fdf9;
}

.section-title {
  font-size: 2.2rem;
  font-weight: 700;
  color: #222;
}

.section-title span {
  color: #76b82a;
}

.section-subtitle {
  color: #555;
  max-width: 700px;
  margin: 0 auto;
  font-size: 1.1rem;
}

.why-card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
  transition: all 0.3s ease;
}

.why-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.why-icon {
  width: 60px;
  height: 60px;
}


.fonts{
    font-family: "DM Serif Display", serif;
  font-weight: 600;
  font-style: normal;
}

.font2{
 font-family: "Corben", serif;
  font-weight: 100;
  font-style: normal;
}
