.process-section {
  background-color: #f9fdfb;
}

.section-heading {
  font-size: 2rem;
  color: #1a5d1a;
  font-weight: 600;
}

.section-subtitle {
  color: #666;
  max-width: 700px;
  margin: 0 auto;
}

.process-card {
clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
width: 400px;
  background-color: #e9f5ea;
  padding: 2rem;
  color: #333;
}

.process-card p {
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 70%; /* or try 65% or 75%, experiment */
    margin-left: 15%;

}



.process-card:hover {
  border: 3px solid #2e7d32;
}

.process-icon {
  font-size: 2rem;
  color: #4caf50;
}

.fonts{
  font-family: "Alegreya SC";
  font-weight: 900;
  font-style: normal;
}