/* Entire navbar background and font */
.custom-navbar {
  background-color: #4cb04f;
  font-family: 'Segoe UI', sans-serif;
}

/* Brand logo or text */
.navbar-brand-text {
  font-weight: bold;
  font-size: 1.5rem;
  color: #ffffff !important;
}

/* Nav link styles */
.nav-links .nav-link {
  margin-left: 50px;
  color: #053318 !important;
  font-weight: 500;
  font-size: 1.1rem;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block !important;
   font-family: "Noticia Text", serif;
}

/* Hover underline */
.nav-links .nav-link::after {
  content: '';
  display: block;
  height: 2px;
  background: #053318;
  width: 0%;
  transition: width 0.3s;
  margin-top: 4px;
}

.myimg{
  margin-bottom: -50px;
  z-index: 100;
}

/* Apply only on hover for larger screens */
@media (min-width: 768px) {
  .nav-links .nav-link:hover::after,
  .nav-links .nav-link.active::after {
    width: 100%;
    text-align: start !important;
  }
  
}

/* Highlight active links */
.nav-links .nav-link.active {
  font-weight: 600;
}

.top-bar {
  font-size: 0.9rem;
}

.contact-info span {
  display: flex;
  align-items: center;
}
