.fade-up {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUpAnim 3 ease forwards;
}
/* Prevent horizontal overflow for the entire page */
body, html {
  overflow-x: hidden;
}


@keyframes fadeUpAnim {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
